$backgroundGray: #f0f0f0;

@font-face {
  font-family: 'Avenir';
  src: url(/src/res/fonts/avenir/Avenir-Book.otf);
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url(/src/res/fonts/avenir/Avenir-Black.otf);
  font-weight: bold;
}

