#add-app-modal {
  background-color: white;
  display: flex;

  width: 30%;
  padding: 10px;

  box-sizing: border-box;

  flex-direction: column;

  form {
    .form-input {
      display: flex;
      flex-direction: column;
    }
  }
}
